body, html {
    background-color: slategray;
    height: 100%;
    margin: 0;
  }

#bg {
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}